---
import CTPLayout from "./layouts/CTP Layout.astro";
import Img from "./assets/Screenshot.png";
const title = 'Gallery';
---

<CTPLayout title={title}>
    <div class="container-gallery">
        <div class="title-gallery">
            <h1>Gallery</h1>
        </div>
    </div>
    <div class="main-container">
		<div class="container-1">
            <div class="container-img">
                <img src={Img.src} alt="crafting table plus" width="360" height="240" class="img">
			</div>
            <div class="title">
                <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
            </div>
			<div class="description">
				<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
			</div>
			<div class="container-button">
				<a href={Img.src}>
					<button>
						lihat gambar secara penuh
					</button>
				</a>
			</div>
		</div>
	</div>
</CTPLayout>

<style>
    * {
        padding: 0;
        margin: 0;
    }

    .container-gallery {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    
    .title-gallery {
        text-align: center;
    }
    
    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        padding: 2px;
    }

    .main-container {
		display: flex;
		flex-wrap: wrap;
	}
	
	.container-1 {
		background-color: gray;
		display: flex;
		flex-direction: column;
		margin: 6px;
		padding: 3px;
		width: 360px;
	}

	.title h2 {
		text-align: center;
        word-break: break-word;
	}

    .title {
        width: 360px;
    }

	.container-img {
		margin: 4px;
		display: flex;
		justify-content: center;
	}

	.img {
		background-color: #0e0d0dda;
	}

	h2 {
		font-size: large;
	}

	.description p {
		word-break: break-word;
	}
	
	.description {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 360px;
	}
	
	.container-button {
		display: flex;
		justify-content: center;
	}

	button {
		cursor: pointer;
		background-color: #0e0d0dda;
		color: white;
        padding: 2px;
	}

    @media (max-width: 790px) {
        .container-1 {
		    background-color: gray;
		    display: flex;
		    flex-direction: column;
		    margin: 6px;
		    padding: 3px;
		    width: 140px;
	    }

	    .title h2 {
		    text-align: center;
            word-break: break-word;
	    }

        .title {
            width: 140px;
        }

	    .container-img {
		    margin: 4px;
		    display: flex;
		    justify-content: center;
	    }

	    .img {
		    background-color: #0e0d0dda;
            width: 140px;
            height: 70px;
	    }

	    h1 {
		    font-size: large;
	    }

	    .description p {
		    word-break: break-word;
	    }
	
	    .description {
		    align-items: center;
		    display: flex;
		    justify-content: center;
		    width: 140px;
    	}
	
	    .container-button {
		    display: flex;
		    justify-content: center;
	    }

	    button {
		    cursor: pointer;
		    background-color: #0e0d0dda;
		    color: white;
	    }
    }
</style>