---
import IndexLayout from '../layouts/Index Layout.astro'
const title = 'Not Found Page '
---

<IndexLayout title={title} >
    <div class="container">
        <div class="content">
            <h1>Page Not Found</h1>       
        </div>
    </div>
</IndexLayout>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(92, 99, 92, 0.493);
    }
    
    
    .content {
        border: 1px solid aqua;
        background-color: white;
        color: black;
        justify-content: center;
        text-align: center;
        border-radius: 6px;
        padding: 6px;
        box-shadow: 8px 10px 0px black;
    }
</style>